*{
	box-sizing: border-box;
}

.body{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.backimg{
	background-image: url(img/desktop.png);
}

.menu{
	float: right;
	background-color: transparent;
}

.subpages{
	color: #ffffff;
	text-transform: uppercase;
	background-color: transparent;
}

.navbar-default .navbar-nav>li a.subpages:hover{
	color: #fec503;
}

.navbar-default .navbar-nav>li a.subpages:active{
	color: #fec503;
}

.navbar-default .navbar-nav>li a.subpages{
	color: #ffffff;
}

.navbar-default .navbar-brand{
	color: #fed136;
}

.navbar{
	background-color: transparent;
	background-image: none;
	border-bottom: none;
}

.welcome{
	font-size: 40px;
	line-height: 40px;
	display: block;
	width: 450px;
	height: 34px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 194px;
	font-style: italic;
	color: #ffffff;
}

.headerfirst{
	text-transform: uppercase;
	font-size: 75px;
	line-height: 75px;
	font-weight: 700;
	display: block;
	width: 882px;
	height: 57px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 67px;
	color: #ffffff;
}

.yellowbutton{
	background-color: #fec503;
	border-color: #f6bf01;
	width: 221px;
	height: 71px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
    padding: 20px 40px;
    margin-bottom: 74px;
}

.service{
	height: 650px;
	background-color: #ffffff;
}

.headersecond{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 157px;
	margin-bottom: 32px;
	width: 198px;
	height: 30px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.1;
}

.headerthird{
	font-style: italic;
	color: #777777;
	font-size: 16px;
	width: 300px;
	height: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 87px;
}

.circle{
	width: 97px;
	height: 97px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 28px;
	background-color: #fed136; 
}

.headerfour{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.1;
	color: #333333;	
	text-align: center;
}

.abovecircle{
	color: #777;
	font-size: 14px;
    line-height: 1.75;
    text-align: center;
}

.portfoliosetting{
	height: 1517px;
	background-color: #eeeeee;
}

.column{
	height: 358px;
	background-color: #ffffff;
	margin-bottom: 31px;
}

.proffesion{
	font-style: italic;
	color: #777777;
}

.aboutsetting{
	height: 1150px;
}

.about1{
	height: 172px;
}

.picture{
	width: 172px;
	height: 172px;
	border-radius: 50%;
	display: block;
	margin-right: au
}

.about2{
	height: 172px;
	margin-top: 128px;
}


